#message {
	border: 1px solid #000000;
	width: 2000px;
	overflow: scroll;
}

body {
	text-align: center;
    width: 100%;
    margin: 0px auto;
    height: 100%;
}

.books {
	
}

.book, .page {
	
}

.book:first-child, .page:first-child, .page:nth-child(2) {
	
}

.book {
	width: 600px;
    height: 500px;
    margin: 0px auto;
    position: fixed;
    top: 50%;
    margin-top: -250px;
    left: 50%;
    margin-left: -300px;
    -webkit-perspective: 2000px;
	perspective: 2000px;	
}

.pages {
	height: 100%;
	width: 100%;
}

.page {
	border: 1px solid #000;
	display: inline-block;
    width: 49%;
    float: left;
    height: 100%;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transition: -webkit-transform 2s cubic-bezier(0.09,0.25,0.00,1.00);
    transition: transform 2s cubic-bezier(0.09,0.25,0.00,1.00);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    background-color: #ffffff;
	z-index: 11;
}

.page .front {
	
}

.page .back {
	visibility: hidden;
}

.page.left {
	-webkit-transform-origin: 100% 0 0;
	transform-origin: 100% 0 0;
	background-color: red;
}

.page.right {
	-webkit-transform-origin: 0% 0 0;
	transform-origin: 0% 0 0;
	background-color: blue;
}

/*.page:hover .back {
	visibility: visible;
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.page.left:hover {
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
	z-index: 12;
}

.page.right:hover {
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
	z-index: 13;
}*/

.page .back.backfaceVisibility {
	visibility: visible;
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}

.leftPageTransition {
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
	z-index: 12;
}

.rightPageTransition {
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
	z-index: 13;
	background-color: blue;
}

.control {
	width: 200px;
	height: 200px;
	position: fixed;
	margin-top: -100px;
	top: 50%;
}

.control .prev, .control .next {
	width: 100px;
	height: 100px;
	position: fixed;
	margin-top: -50px;
	top: 50%;
	border-radius: 50px;
	background: #000000;
	color: #ffffff;
	display: table;
}

.control .prev:hover, .control .next:hover {
	background-color: green;
	cursor: pointer;
}

.control .prev > span, .control .next > span {
	display: table-cell;
	vertical-align: middle;
}

.control .prev {
	left: 50px;
}

.control .next {
	right: 50px;
}


